.comic {
  .container {
    max-width: 1280px;
    margin: 30px auto;
    padding: 20px;
    .lg-img-container {
      height: 400px;
      display: flex;
      background-color: rgb(167, 160, 160);
      box-shadow: 5px 5px 20px gray;

      border-bottom-right-radius: 25px;
      img {
        height: 100%;
      }
      .description {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
        p {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }

    .sm-imgs {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      max-width: 1280px;
      margin: 30px auto;
      .sm-img-container {
        width: 413px;
        height: 800px;
        background-color: #ee171f;
        border-bottom-left-radius: 25px;
        box-shadow: 5px 5px 20px gray;

        img {
          width: 100%;
          height: 75%;
          object-fit: cover;
        }
        .description {
          // background-color: #ee171f;
          padding: 10px;
          h3 {
            margin-bottom: 10px;
            color: white;
          }
          p {
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .comic {
    .container {
      .lg-img-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(167, 160, 160);
        box-shadow: 5px 5px 20px gray;

        height: 600px;
        border-bottom-right-radius: 25px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          border-bottom-right-radius: 25px;
        }
        .description {
          h2 {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
