.login {
  padding: 20px;
  .container {
    form {
      max-width: 700px;
      margin: 10% auto;
      input {
        box-sizing: border-box;
        height: 60px;
        width: 100%;
        margin-bottom: 7px;
        padding: 10px;
        font-size: 22px;
        border: none;
        border-bottom-right-radius: 25px;
        outline-color: #ee171f;
      }
      .submit {
        background-color: #ee171f;
        color: white;
        font-size: 26px;
        font-weight: bold;
        cursor: pointer;
      }

      .submit:hover {
        opacity: 0.8;
      }

      .submit:active {
        opacity: 0.6;
      }

      p {
        color: #ee171f;
        font-size: 22px;
        font-weight: bold;
        padding: 10px;
      }
      div {
        color: white;
        margin-top: 10px;
        a {
          color: rgb(165, 161, 161);
        }
      }
    }
  }
}
