.pagination-btn {
  max-width: 1280px;
  margin: 25px auto;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  button {
    padding: 10px 15px;
    background-color: #ee171f;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-bottom-right-radius: 25px;
    cursor: pointer;
    .arow {
      margin: 0 10px;
    }
  }
  button:hover {
    opacity: 0.8;
  }
  button:active {
    opacity: 0.7;
  }
  span {
    color: white;
    font-weight: bold;
  }
}

@media (max-width: 1000px) {
}
@media (max-width: 670px) {
  .pagination-btn {
    display: flex;

    justify-content: center;
  }
}
