body {
  font-family: sans-serif;
}
.App {
  text-align: center;
  a {
    text-decoration: none;
  }

  h2 {
    font-size: 28px;
    font-weight: bold;
  }
  h3 {
    font-size: 22px;
    font-weight: bold;
  }
}
